--
-- PostgreSQL database dump
--

\restrict jw1JSrbjBJg4V582Fqk4M2zUK8jPaD1YgtHqkeWhGXTR0xAXe0r6dOarKGlW8BX

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: n_character_items; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.n_character_items (
    character_id integer NOT NULL,
    item_id integer NOT NULL,
    qty integer NOT NULL,
    CONSTRAINT n_character_items_qty_check CHECK ((qty >= 0))
);


ALTER TABLE public.n_character_items OWNER TO student;

--
-- Name: n_characters; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.n_characters (
    character_id integer NOT NULL,
    name character varying(16) NOT NULL,
    job_id integer
);


ALTER TABLE public.n_characters OWNER TO student;

--
-- Name: n_items; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.n_items (
    item_id integer NOT NULL,
    name character varying(32) NOT NULL
);


ALTER TABLE public.n_items OWNER TO student;

--
-- Name: n_jobs; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.n_jobs (
    job_id integer NOT NULL,
    name character varying(16) NOT NULL
);


ALTER TABLE public.n_jobs OWNER TO student;

--
-- Name: s_characters; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.s_characters (
    id integer NOT NULL,
    name character varying(16) NOT NULL,
    job character varying(16) NOT NULL,
    level integer NOT NULL,
    buff numeric(3,2) NOT NULL,
    guild character varying(32),
    last_login_at timestamp without time zone,
    created_on date NOT NULL,
    CONSTRAINT s_characters_level_check CHECK (((level >= 1) AND (level <= 99)))
);


ALTER TABLE public.s_characters OWNER TO student;

--
-- Name: s_characters_id_seq; Type: SEQUENCE; Schema: public; Owner: student
--

ALTER TABLE public.s_characters ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.s_characters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: s_users; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.s_users (
    id integer NOT NULL,
    name text NOT NULL,
    age integer
);


ALTER TABLE public.s_users OWNER TO student;

--
-- Name: x_character_items; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_character_items (
    character_id integer NOT NULL,
    item_id integer NOT NULL,
    qty integer NOT NULL,
    CONSTRAINT x_character_items_qty_check CHECK ((qty >= 0))
);


ALTER TABLE public.x_character_items OWNER TO student;

--
-- Name: x_characters; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_characters (
    character_id integer NOT NULL,
    name character varying(16) NOT NULL,
    level integer NOT NULL,
    job_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT LOCALTIMESTAMP(0) NOT NULL,
    deleted_at timestamp without time zone,
    CONSTRAINT x_characters_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT x_characters_level_check CHECK (((level >= 1) AND (level <= 255)))
);


ALTER TABLE public.x_characters OWNER TO student;

--
-- Name: x_characters_character_id_seq; Type: SEQUENCE; Schema: public; Owner: student
--

ALTER TABLE public.x_characters ALTER COLUMN character_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.x_characters_character_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: x_gold_transfers; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_gold_transfers (
    transfer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_character_id integer,
    to_character_id integer,
    amount integer NOT NULL,
    transferred_at timestamp without time zone DEFAULT LOCALTIMESTAMP(0) NOT NULL,
    CONSTRAINT x_gold_transfers_amount_check CHECK ((amount > 0)),
    CONSTRAINT x_gold_transfers_check CHECK (((from_character_id IS NOT NULL) OR (to_character_id IS NOT NULL))),
    CONSTRAINT x_gold_transfers_check1 CHECK (((from_character_id IS NULL) OR (to_character_id IS NULL) OR (from_character_id <> to_character_id)))
);


ALTER TABLE public.x_gold_transfers OWNER TO student;

--
-- Name: x_guild_characters; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_guild_characters (
    guild_id integer NOT NULL,
    character_id integer NOT NULL
);


ALTER TABLE public.x_guild_characters OWNER TO student;

--
-- Name: x_guilds; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_guilds (
    guild_id integer NOT NULL,
    name character varying(16) NOT NULL,
    owner_id integer NOT NULL
);


ALTER TABLE public.x_guilds OWNER TO student;

--
-- Name: x_guilds_guild_id_seq; Type: SEQUENCE; Schema: public; Owner: student
--

ALTER TABLE public.x_guilds ALTER COLUMN guild_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.x_guilds_guild_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: x_items; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_items (
    item_id integer NOT NULL,
    name character varying(32) NOT NULL,
    price integer NOT NULL,
    weight_kg numeric(4,1) NOT NULL,
    description text,
    CONSTRAINT x_items_price_check CHECK ((price >= 0))
);


ALTER TABLE public.x_items OWNER TO student;

--
-- Name: x_items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: student
--

ALTER TABLE public.x_items ALTER COLUMN item_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.x_items_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: x_jobs; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.x_jobs (
    job_id integer NOT NULL,
    name character varying(16) NOT NULL,
    attack_gain integer NOT NULL,
    defense_gain integer NOT NULL,
    magic_gain integer NOT NULL
);


ALTER TABLE public.x_jobs OWNER TO student;

--
-- Name: x_jobs_job_id_seq; Type: SEQUENCE; Schema: public; Owner: student
--

ALTER TABLE public.x_jobs ALTER COLUMN job_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.x_jobs_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: y_character_items; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.y_character_items (
    character_id integer NOT NULL,
    item_id integer NOT NULL,
    qty integer NOT NULL,
    CONSTRAINT y_character_items_qty_check CHECK ((qty >= 0))
);


ALTER TABLE public.y_character_items OWNER TO student;

--
-- Name: y_characters; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.y_characters (
    character_id integer NOT NULL,
    name character varying(16) NOT NULL,
    job_id integer NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.y_characters OWNER TO student;

--
-- Name: y_items; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.y_items (
    item_id integer NOT NULL,
    name character varying(32) NOT NULL
);


ALTER TABLE public.y_items OWNER TO student;

--
-- Name: y_jobs; Type: TABLE; Schema: public; Owner: student
--

CREATE TABLE public.y_jobs (
    job_id integer NOT NULL,
    name character varying(16) NOT NULL
);


ALTER TABLE public.y_jobs OWNER TO student;

--
-- Name: y_jobs_job_id_seq; Type: SEQUENCE; Schema: public; Owner: student
--

ALTER TABLE public.y_jobs ALTER COLUMN job_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.y_jobs_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: n_character_items; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.n_character_items (character_id, item_id, qty) FROM stdin;
1	1	3
1	2	2
1	3	1
2	3	1
4	1	2
4	5	3
\.


--
-- Data for Name: n_characters; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.n_characters (character_id, name, job_id) FROM stdin;
1	Marvin	5
2	Zach	\N
3	Charlie	6
4	Tom	1
5	Alice	5
\.


--
-- Data for Name: n_items; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.n_items (item_id, name) FROM stdin;
1	Potion
2	High Potion
3	Mega Potion
4	Giga Potion
5	Mana Potion
\.


--
-- Data for Name: n_jobs; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.n_jobs (job_id, name) FROM stdin;
1	Fighter
2	Monk
3	Ninja
4	Samurai
5	Priest
6	Wizard
\.


--
-- Data for Name: s_characters; Type: TABLE DATA; Schema: public; Owner: student
--



--
-- Data for Name: s_users; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.s_users (id, name, age) FROM stdin;
1	Alice	20
2	Bob	25
\.


--
-- Data for Name: x_character_items; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.x_character_items (character_id, item_id, qty) FROM stdin;
1	1	2
1	7	1
1	10	1
2	3	1
2	11	2
3	6	1
3	9	2
4	1	1
5	2	2
5	7	1
6	5	2
6	9	1
6	10	1
7	1	10
7	12	1
7	11	1
9	1	1
9	7	2
9	9	1
9	10	1
12	3	1
12	11	2
13	6	2
13	9	1
14	2	1
14	5	3
14	10	1
15	1	2
15	11	3
16	7	2
16	10	1
17	5	4
17	11	1
18	7	2
19	3	1
19	6	1
19	9	1
19	10	2
\.


--
-- Data for Name: x_characters; Type: TABLE DATA; Schema: public; Owner: student
--



--
-- Data for Name: x_gold_transfers; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.x_gold_transfers (transfer_id, from_character_id, to_character_id, amount, transferred_at) FROM stdin;
\.


--
-- Data for Name: x_guild_characters; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.x_guild_characters (guild_id, character_id) FROM stdin;
1	1
1	12
1	15
1	6
1	7
2	11
2	2
2	6
2	13
2	14
2	17
3	8
3	10
3	12
3	16
3	19
\.


--
-- Data for Name: x_guilds; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.x_guilds (guild_id, name, owner_id) FROM stdin;
1	Yamato	1
2	D.D.D	11
3	hameln	8
\.


--
-- Data for Name: x_items; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.x_items (item_id, name, price, weight_kg, description) FROM stdin;
1	Potion	200	0.2	単体HPを小回復
2	High Potion	600	0.2	単体HPを中回復
3	Mega Potion	1200	0.3	単体HPを大回復
4	Giga Potion	4000	0.3	単体HPを完全回復
5	Mana Potion	1000	0.1	単体MPを小回復
6	High Mana Potion	5000	0.2	単体MPを大回復
7	Antidote	300	0.1	毒状態を回復
8	Paralyze Cure	600	0.1	麻痺状態を回復
9	Angel Feather	1200	0.1	戦闘不能を回復
10	Chimera Wing	500	0.1	指定の街に瞬間移動
11	Torch	820	1.5	洞窟内を明るく照らす
12	Climbing Rope	1000	1.5	崖や段差を乗り越える
\.


--
-- Data for Name: x_jobs; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.x_jobs (job_id, name, attack_gain, defense_gain, magic_gain) FROM stdin;
1	Fighter	3	5	-2
2	Monk	4	0	-1
3	Ninja	5	-1	0
4	Samurai	3	3	2
5	Priest	0	-1	4
6	Wizard	-1	-3	5
\.


--
-- Data for Name: y_character_items; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.y_character_items (character_id, item_id, qty) FROM stdin;
1	1	3
5	1	2
5	2	1
1	3	1
2	3	3
4	1	2
5	5	2
\.


--
-- Data for Name: y_characters; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.y_characters (character_id, name, job_id, deleted_at) FROM stdin;
1	Marvin	5	\N
3	Charlie	6	\N
4	Tom	1	\N
6	Oscar	1	\N
2	Zach	3	2025-12-31 07:10:00
5	Alice	5	2025-12-31 07:10:00
\.


--
-- Data for Name: y_items; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.y_items (item_id, name) FROM stdin;
1	Potion
2	Map
3	Compass
4	Rope
5	Knife
\.


--
-- Data for Name: y_jobs; Type: TABLE DATA; Schema: public; Owner: student
--

COPY public.y_jobs (job_id, name) FROM stdin;
1	Fighter
2	Monk
3	Ninja
4	Samurai
5	Priest
6	Wizard
\.


--
-- Name: s_characters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: student
--

SELECT pg_catalog.setval('public.s_characters_id_seq', 19, true);


--
-- Name: x_characters_character_id_seq; Type: SEQUENCE SET; Schema: public; Owner: student
--

SELECT pg_catalog.setval('public.x_characters_character_id_seq', 1, false);


--
-- Name: x_guilds_guild_id_seq; Type: SEQUENCE SET; Schema: public; Owner: student
--

SELECT pg_catalog.setval('public.x_guilds_guild_id_seq', 1, false);


--
-- Name: x_items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: student
--

SELECT pg_catalog.setval('public.x_items_item_id_seq', 1, false);


--
-- Name: x_jobs_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: student
--

SELECT pg_catalog.setval('public.x_jobs_job_id_seq', 1, false);


--
-- Name: y_jobs_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: student
--

SELECT pg_catalog.setval('public.y_jobs_job_id_seq', 1, false);


--
-- Name: n_character_items n_character_items_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_character_items
    ADD CONSTRAINT n_character_items_pkey PRIMARY KEY (character_id, item_id);


--
-- Name: n_characters n_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_characters
    ADD CONSTRAINT n_characters_pkey PRIMARY KEY (character_id);


--
-- Name: n_items n_items_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_items
    ADD CONSTRAINT n_items_name_key UNIQUE (name);


--
-- Name: n_items n_items_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_items
    ADD CONSTRAINT n_items_pkey PRIMARY KEY (item_id);


--
-- Name: n_jobs n_jobs_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_jobs
    ADD CONSTRAINT n_jobs_name_key UNIQUE (name);


--
-- Name: n_jobs n_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_jobs
    ADD CONSTRAINT n_jobs_pkey PRIMARY KEY (job_id);


--
-- Name: s_characters s_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.s_characters
    ADD CONSTRAINT s_characters_pkey PRIMARY KEY (id);


--
-- Name: s_users s_users_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.s_users
    ADD CONSTRAINT s_users_pkey PRIMARY KEY (id);


--
-- Name: x_character_items x_character_items_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_character_items
    ADD CONSTRAINT x_character_items_pkey PRIMARY KEY (character_id, item_id);


--
-- Name: x_characters x_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_characters
    ADD CONSTRAINT x_characters_pkey PRIMARY KEY (character_id);


--
-- Name: x_gold_transfers x_gold_transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_gold_transfers
    ADD CONSTRAINT x_gold_transfers_pkey PRIMARY KEY (transfer_id);


--
-- Name: x_guild_characters x_guild_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_guild_characters
    ADD CONSTRAINT x_guild_characters_pkey PRIMARY KEY (character_id, guild_id);


--
-- Name: x_guilds x_guilds_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_guilds
    ADD CONSTRAINT x_guilds_name_key UNIQUE (name);


--
-- Name: x_guilds x_guilds_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_guilds
    ADD CONSTRAINT x_guilds_pkey PRIMARY KEY (guild_id);


--
-- Name: x_items x_items_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_items
    ADD CONSTRAINT x_items_name_key UNIQUE (name);


--
-- Name: x_items x_items_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_items
    ADD CONSTRAINT x_items_pkey PRIMARY KEY (item_id);


--
-- Name: x_jobs x_jobs_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_jobs
    ADD CONSTRAINT x_jobs_name_key UNIQUE (name);


--
-- Name: x_jobs x_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_jobs
    ADD CONSTRAINT x_jobs_pkey PRIMARY KEY (job_id);


--
-- Name: y_character_items y_character_items_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_character_items
    ADD CONSTRAINT y_character_items_pkey PRIMARY KEY (character_id, item_id);


--
-- Name: y_characters y_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_characters
    ADD CONSTRAINT y_characters_pkey PRIMARY KEY (character_id);


--
-- Name: y_items y_items_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_items
    ADD CONSTRAINT y_items_name_key UNIQUE (name);


--
-- Name: y_items y_items_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_items
    ADD CONSTRAINT y_items_pkey PRIMARY KEY (item_id);


--
-- Name: y_jobs y_jobs_name_key; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_jobs
    ADD CONSTRAINT y_jobs_name_key UNIQUE (name);


--
-- Name: y_jobs y_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_jobs
    ADD CONSTRAINT y_jobs_pkey PRIMARY KEY (job_id);


--
-- Name: n_character_items n_character_items_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_character_items
    ADD CONSTRAINT n_character_items_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.n_characters(character_id) ON DELETE CASCADE;


--
-- Name: n_character_items n_character_items_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_character_items
    ADD CONSTRAINT n_character_items_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.n_items(item_id);


--
-- Name: n_characters n_characters_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.n_characters
    ADD CONSTRAINT n_characters_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.n_jobs(job_id) ON DELETE SET NULL;


--
-- Name: x_character_items x_character_items_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_character_items
    ADD CONSTRAINT x_character_items_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.x_characters(character_id) ON DELETE CASCADE;


--
-- Name: x_character_items x_character_items_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_character_items
    ADD CONSTRAINT x_character_items_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.x_items(item_id);


--
-- Name: x_characters x_characters_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_characters
    ADD CONSTRAINT x_characters_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.x_jobs(job_id);


--
-- Name: x_gold_transfers x_gold_transfers_from_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_gold_transfers
    ADD CONSTRAINT x_gold_transfers_from_character_id_fkey FOREIGN KEY (from_character_id) REFERENCES public.x_characters(character_id);


--
-- Name: x_gold_transfers x_gold_transfers_to_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_gold_transfers
    ADD CONSTRAINT x_gold_transfers_to_character_id_fkey FOREIGN KEY (to_character_id) REFERENCES public.x_characters(character_id);


--
-- Name: x_guild_characters x_guild_characters_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_guild_characters
    ADD CONSTRAINT x_guild_characters_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.x_characters(character_id) ON DELETE CASCADE;


--
-- Name: x_guild_characters x_guild_characters_guild_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_guild_characters
    ADD CONSTRAINT x_guild_characters_guild_id_fkey FOREIGN KEY (guild_id) REFERENCES public.x_guilds(guild_id) ON DELETE CASCADE;


--
-- Name: x_guilds x_guilds_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.x_guilds
    ADD CONSTRAINT x_guilds_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.x_characters(character_id) ON DELETE CASCADE;


--
-- Name: y_character_items y_character_items_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_character_items
    ADD CONSTRAINT y_character_items_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.y_characters(character_id) ON DELETE CASCADE;


--
-- Name: y_character_items y_character_items_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_character_items
    ADD CONSTRAINT y_character_items_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.y_items(item_id);


--
-- Name: y_characters y_characters_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: student
--

ALTER TABLE ONLY public.y_characters
    ADD CONSTRAINT y_characters_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.y_jobs(job_id);


--
-- PostgreSQL database dump complete
--

\unrestrict jw1JSrbjBJg4V582Fqk4M2zUK8jPaD1YgtHqkeWhGXTR0xAXe0r6dOarKGlW8BX

